- content_for :title, "Buildings"

section.content
  h1.centered Buildings, Places and Landmarks

  section.main.search
    input type="text" value="" id="building-search" placeholder="Find a place"

  section.main.pills
    nav#category.pills.centered
      a.pill.active href="#all" data-category="all" All
      - for subject in @subject_filters
          a.pill href="##{subject.slug}" data-category="#{subject.slug}" #{subject.title}

  section.main.polaroids
    - for model in @buildings
      div class="polaroid #{model.subjects_css}"
        - if model.photo?
          a.lazy href=polymorphic_path(model) data-bg="url(#{model.photo.polaroid.url})"
            h2 #{model.title}
        -else
          a href=polymorphic_path(model)
            h2 #{model.title}

javascript:
  document.addEventListener('DOMContentLoaded',function(){
    var container = document.querySelector("section.polaroids");
    function search(event) {
      const value = event.target.value.toLowerCase();
      const results = container.querySelectorAll(".polaroid");

      // Trigger a scroll event so lazyload works on search
      window.scrollTo(window.scrollX, window.scrollY);
      if (CustomEvent) {
        window.dispatchEvent(new CustomEvent('scroll'));
      }

      results.forEach(function(elt) {
        if (elt.textContent.toLowerCase().indexOf(value) > -1) {
          elt.classList.add('fadeIn');
          elt.classList.remove('fadeOut');
        } else {
          elt.classList.add('fadeOut');
          elt.classList.remove('fadeIn');
        }
      })
    }

    document.querySelector('#building-search').oninput = search;

    function clickPill(event) {
      event.preventDefault();
      var category = this.getAttribute('data-category');
      console.log(category);

      // Mark all pills as unselected
      document.querySelectorAll('.pills a').forEach(function(elt) {
        elt.classList.remove('active');
      });

      this.classList.add('active')

      // Fade out all items
      document.querySelectorAll('.polaroid').forEach(function(elt) {
        elt.classList.add('fadeOut');
      });


      if (category === 'all') {
        document.querySelectorAll('.polaroid').forEach(function(elt) {
          elt.classList.remove('fadeOut');
          elt.classList.add('fadeIn');
        });
        return;
      }

      // Fade in selected items
      document.querySelectorAll('.category-' + category).forEach(function(elt) {
        elt.classList.remove('fadeOut');
        elt.classList.add('fadeIn');
      });
      
      // Trigger a scroll event so lazyload works on search
      window.scrollTo(window.scrollX, window.scrollY);
      if (CustomEvent) {
        window.dispatchEvent(new CustomEvent('scroll'));
      }

    }
    // Set up the nav pills
    var pills = document.querySelectorAll('.pills a')
    pills.forEach(function(pill) {
      pill.addEventListener('click', clickPill);
    })

  });

javascript:
  var myLazyLoad = new LazyLoad({
    elements_selector: ".lazy"
  });
