
- content_for :title, "Map of Historic Buildings"

section.content
  h1.centered Buildings, Places and Landmarks

  .frame
    #map

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />

javascript:
  var buildings = #{raw @buildings.to_json};

  mapboxgl.accessToken = 'pk.eyJ1IjoibWF0dGgiLCJhIjoicGFzV1ZkWSJ9.KeK3hKmM52XpUEHHx_F8NQ';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/matth/cjs13vk0m0inf1fqs1wx0qfis', // stylesheet location
    center: [42.360671,-83.097911].reverse(), // starting position [lng, lat]
    zoom: 10.5 // starting zoom
  });

  var iconSize = '25';

  buildings.forEach(function(building) {
    /*
    // Doesn't look good
    var el = document.createElement('div');
    el.className = 'marker';
    el.style.backgroundImage = 'url(' + building.thumb + ')';
    el.style.width = iconSize + 'px';
    el.style.height = iconSize + 'px';
    */
    var popup = new mapboxgl.Popup({ offset: 25 })
      .setHTML('<h3><a href="' + building.url + '" target="_blank">' + building.name + '</a></h3><img src="' + building.image + '" width="200">');

    var marker = new mapboxgl.Marker({ color: '#874a66' })
      .setLngLat([building.lng, building.lat])
      .setPopup(popup)
      .addTo(map);
  })
