# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  adapter: postgresql
  encoding: unicode
  database: historicdetroit
  pool: 5
  username: historic

test:
  adapter: postgresql
  encoding: unicode
  database: historicdetroit_test
  pool: 5
  username: historic

production:
  <<: *default
  database: db/production.sqlite3
