= form_for @gallery do |f|
  div.gallery-form

    div
      = f.label :title, "Title (#{@gallery.errors[:title][0]})"

    div
      = f.text_field :title

    div
      = f.label :building_id
    div
      = f.collection_select(:building_id, @buildings, :id, :name, prompt: true)


    h3 Photos

    .dropzone#dropzone.hide
      h4 Drop photos here

    .photos.sortable
      = f.fields_for :photos do |photo|
        = render 'photo_fields', f: photo
      .links
        = link_to_add_association 'add photo', f, :photos, { class: 'btn'}

    = f.submit "Save Gallery"


javascript:
  $(document).ready(function() {
    function reorder() {
      $('.photo-fields').each(function(idx) {
        console.log("xxx", idx)
        var $elt = $(this)
        $('.position-input', $elt).val(idx)
      })
    }

    $(".sortable").sortable({
      stop: function(event, ui) {
        reorder();
      }
    });

    $('.photos')
      .on('cocoon:after-insert', function() {
        reorder();
      })


    // Set up drag and drop
    // https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
    var dropArea = document.getElementById('dropzone');

    var dragEnter = function() {
      dropArea.classList.add('active')
    }

    var dragLeave = function() {
      dropArea.classList.remove('active')
    }


    dropArea.addEventListener('dragenter', dragEnter, false)
    dropArea.addEventListener('dragleave', dragLeave, false)
    dropArea.addEventListener('drop', drop, false)

  });
