$background: #f9f8ec;
$difference: #edebc5;
$light: #fff;
$link: #647279;
$text: #222;
$emphasis: #874a66;
$gray: #999;
$gray-blend: #797664;
$ltgray: #ddd;

$shadow: 0 0 15px $difference;
$border: 1px solid $difference;
$border-gray: 1px solid $ltgray;

$lg: 2.3em;
$md: 1.6em;
$reg: 16px;

$sans: "news-gothic-std", Helvetica, sans-serif;
$serif: "Georgia", serif;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $reg;
}

body {
  color: #222;
  background: #f9f8ec;
  font: normal 1em/1.5em Georgia, serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: "news-gothic-std", Helvetica, sans-serif;
  font-weight: normal;
}

main {
  box-shadow: inset 0 0 40px $difference;
  border-bottom: 1px solid $difference;
}

.content {
  width: 960px;
  margin: 0px auto;
  padding: 20px 0;

  > h1 {
    margin-bottom: 0;
  }
  .byline {
    font-size: $reg;
  }
}

footer {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: $lg;
  line-height: 1.3em;
  margin-bottom: 15px;
}

h2 {
  font-size: $md;
  color: $emphasis;
}

// Bar containing the article text and sidebar
.page {
  display: flex;
  flex-direction: row;
}

article {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: $shadow;
  font-family: $sans;
  flex: 4;

  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .date {
    color: $gray;
    margin-bottom: 1em;
  }

  p {
    font-family: $serif;
    margin-bottom: 1em;
  }
}

aside {
  flex: 2;
  padding: 30px;

  h3 {
    font-size: 16px;
    margin-top: 1em;
    color: $gray-blend;
  }

  ul li {
    list-style: none;
  }
}

// Polaroid styles

.polaroids {
  .polaroid:nth-child(1n + 0) {
    margin-left: 0;
    width: calc(25% - 10px);
  }
  .polaroid:nth-child(4n + 0) {
    margin-right: 0;
    width: calc(25% - 10px);
  }
}

.polaroid {
  display: inline-block;
  width: calc(25% - 20px);
  background: #fff;
  border: #eee;
  border-radius: 4px;
  padding: 5px;
  font-family: $sans;
  margin: 10px;
  h2 {
    color: $link;
    font-size: 1em;

    a {
      color: $link;
      border-bottom: 1px dotted $link;
    }
  }
}

@import "architects";
@import "buildings";
@import "galleries";
@import "home";
@import "nav";
