@import "simplemde.min";

$base-hue: 57;
$background: #f9f8ec;
$difference: hsla(57, 53%, 85%, 1);
$light: #fff;
$link: hsla(200,30,43,1); //#647279;
$text: #222;
$emphasis: #874a66;
$gray: #999;
$gray-blend: #797664;
$ltgray: #ddd;


$header: rgb(37, 35, 28);
$header2: rgb(74, 71, 62);

$shadow: 0 0 15px $difference;
$border: 1px solid $difference;
$border-gray: 1px solid $ltgray;

$lg: 2.3em;
$md: 1.6em;
$reg: 16px;

$sans: "news-gothic-std", Helvetica, sans-serif;
$serif: "Georgia", serif;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $reg;
}

body {
  color: #222;
  background: #f9f8ec;
  font: normal 1em/1.5em Georgia, serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $link;
}

.btn,
a.btn {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 16px;
  background: hsl($base-hue, 40, 30);
  color: #fff;
  font-family: $sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: $sans;
  font-weight: normal;
}

main {
  box-shadow: inset 0 0 40px $difference;
  border-bottom: 1px solid $difference;
}

.content {
  max-width: 960px;
  margin: 0px auto;
  padding: 20px 0;

  > h1 {
    text-align: center;
    line-height: 1em;
  }
  > h2 {
    text-align: center;
  }
  > h3.edit {
    text-align: center;
    font-size: 1rem;
  }

  .byline {
    font-size: $reg;
  }
}

footer {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: $lg;
  line-height: 1.3em;
  margin-bottom: 15px;

  a, a:link, a:hover, a:active, a:visited {
    border-bottom: 1px dotted $link;
  }
}

h2 {
  font-size: $md;
  color: $emphasis;
}

// Bar containing the article text and sidebar
.page {
  display: flex;
  flex-direction: row;

  .articles {
    flex: 4;
  }
}

article {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: $shadow;
  font-family: $sans;

  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .date {
    color: $gray;
    margin-bottom: 1em;
  }

  p {
    font-family: $serif;
    margin-bottom: 1em;
  }
}

aside {
  flex: 2;
  padding: 20px 0 0 25px;
  width: 324px;

  &.home {
    text-align: center;
  }

  h3 {
    font-size: 16px;
    margin-top: 1em;
    color: $gray-blend;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul li {
    list-style: none;
  }

  img {
    width: 100%;
  }

  .sidebarbox {
    color: $gray-blend;
    border: 1px solid $difference;
    box-shadow: inset 0 0 15px $difference;
    margin-bottom: 1em;
    padding: 10px;
    background: #fff;
    font-size: 0.9em;
    line-height: 1.3em;

    img {
      width: 100%;
    }

    h2 {
      margin: 0.5em 0 0.5em 0;
      font-size: 1.5em;
      color: $gray-blend;
    }

    &.postcards {
      text-align: center;

      h2 {
        text-transform: uppercase;
        font-size: 1.2em;
      }
    }
  }

  .map {
    border: 4px solid $difference;
    margin-bottom: 1em;
    margin-top: 1em;

    img {
      display: inherit;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  thead th {
    font-family: $sans;
    text-align: left;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #b5b498;
  }

  td {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #b5b498;
  }

  tr td:first-child {
    padding-right: 10px;
  }
}

@media only screen and (max-width:700px) {
  .content {
    h1 {
      padding: 10px;
    }
  }

  .page {
    display: flex;
    flex-direction: column-reverse;

  }

  // Add some padding to tables on mobile so content doesn't run together
  table {
    tr th:first-child,
    tr td:first-child {
      padding-left: 10px;
    }
    tr td:last-child {
      padding-right: 10px;
    }
  }

  aside {
    padding: 20px 25px 0 25px;
    width: auto;
  }
}

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@import "polaroids";
@import "architects";
@import "buildings";
@import "galleries";
@import "home";
@import "nav";
