// Place all the styles related to the Buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.search {
  text-align: center;

  input {
    font-size: 1.2em;
    width: 30%;
    min-width: 200px;
    border-radius: 24px;
    padding: 5px;
    font-family: $serif;
  }
}

.fadeOut {
  display: none;
}

nav.pills {
  background: transparent;
  padding: 1rem 0;
  margin-bottom: 1rem;

  .pill {
    padding: 4px 10px;
    margin: 0px 2px;
    border-radius: 20px;
    display: inline-block;

    &:hover {
      color: #fff;
      background: lighten($link, 10%);
    }

    &.active {
      color: #fff;
      background: $link;
    }
  }
}

#map {
  height: 0.8vh;
  min-height: 600px;
  width:100%;

  .marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-position: center center;
  }

  .mapboxgl-popup-content {
    max-width: 220px;
    padding-bottom: 10px;
    h3 {
      font-size: 1rem;
    }
  }
}

aside #map {
  height: 200px;
  min-height: auto;
}