// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photos {
  width: 100%;
  margin-top: 2em;
}

.photo {
  margin-bottom: 3.5em;

  .caption {
    font-size: 18px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 10px;
  }

  .byline {
    color: #6d6622;
    margin-left: 10px;

  }

  picture {
    display: block;
    background: #fff;
    text-align: center;
    border: 10px solid #fff;
    margin-bottom: 12px;

    img {
      max-width: 100%;
    }
  }
}