// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo {
  margin-bottom: 3.5em;

  .caption {
    font-size: 18px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  .byline {
    color: #6d6622
  }

  img {
    border: 10px solid #fff
  }
}