// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home.main .content {
  padding-bottom: 0;
}

.home.main .articles.new > h2 {
  padding: 20px 0;
  text-align: center;
}

.home.main .polaroid {
  box-shadow: 0 0 15px #edebc4;
}