// Polaroid styles

.polaroids {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 5px));
}

.polaroid {
  display: inline-block;
  background: #fff;
  border: #eee;
  border-radius: 4px;
  padding: 5px;
  font-family: $sans;
  margin: 10px;
  min-height: 100px; // TODO--tweak?
  position: relative;
  height: 200px;

  a {
    display: block;
    height: 100%;
    position: relative;
  }

  h2 {
    color: $link;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    bottom: 0px;
    padding: 6px 2px 2px 2px;
    background: #fff;
    width: 100%;

    color: $link;
    border-bottom: 1px dotted $link;
  }
  
  h3 {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    padding: 0px 2px 2px 2px;
    
    width: 100%;
    
    background-color: #fff;
  }
}

.polaroid.status-demolished {
  filter: grayscale(75%);
}

@media only screen and (max-width:700px) {
  .polaroids {
    grid-template-columns: repeat(2, calc(50%));
    grid-gap: 0;
  }
}